*.class
JDK8/

# Package Files #
# --- IGNORE --- DO NOT PUT *.jar - Breaks Gradle
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.DS_Store

# Regenerate the files on your own, better compatability.
## Eclipse
*.classpath
*.project
.settings/
bin/

## Intellij Idea
.idea/
build/
*.eml*
*.iml*
*.ipr*
*.iws*

## Gradle
.gradle/
#gradlew.bat
#gradlew
deploy.sh

## Deploy artifact
dist/FRCUserProgram.jar
dist/
/out/
